.flex {
    display: flex;
}

.oculta {
    display: none;
}

body {
    background-color: rgb(44, 8, 8);
    margin: 0px;
    font-family: 'poppins';
}

#botao-apagar-filme {
    background-color: #500c0c;
    color: wheat;
    border: none;
    border-radius: 3px;
    height: 50px;
    font-size: 15pt;
    font-family: 'poppins', 'sans-serif';
    margin: 30px 0px 0px 0px;
}

#botao-apagar-filme:hover {
    background-color: #942222;
}

#botao-apagar-filme:active {
    background-color: #500c0c;
}

#div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#div-filmes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0px 0px 30px;
}

img {
    width: 375px;
    margin: 20px 0px 0px 40px;
}

a {
    text-decoration: none;
    color: wheat;
    justify-content: space-between;
    font-size: 15pt;
}

a:hover {
    filter: drop-shadow(0px 0px 5px wheat);
}

.div-filmes-class {
    width: 250px;
    height: 375px;
    margin: 30px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: #460909;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.div-filmes-class:hover {
    color: wheat;
    box-shadow: #af0000 10px 5px 10px;
}

#div-adicionar-filme {
    border: solid rgb(100, 27, 27) 1px;
    width: 250px;
    max-height: 190px;
    padding: 90px 0px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #a52a2a;
}

#div-adicionar-filme:hover {
    box-shadow: #af0000 10px 5px 10px;
}

#div-adicionar-filme p {
    padding: 5px 9px;
    margin: 1px;
    color: wheat;
    text-align: center;
}

#div-adicionar-filme button {
    width: 25px;
    height: 25px;
    margin: 10px;
    border: none;
    background-color: transparent;
    font-size: x-large;
    color: rgb(94, 21, 21);
}

#div-adicionar-filme button:hover {
    color: wheat;
}

.fechar-popup {
    background-color: transparent;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    border: none;
    color: wheat;
}

.fechar-popup:hover {
    filter: drop-shadow(white 0px 0px 3px);
}

#div-popup {
    border-radius: 10px;
    padding: 75px;
    width: max-content;
    text-align: center;
    height: max-content;
    position: absolute;
    left: 35%;
    top: 20px;
    background-color: #691818;
}

#div-popup-filme {
    border-radius: 10px;
    padding: 50px;
    width: max-content;
    text-align: center;
    height: max-content;
    position: fixed;
    margin: 0px;
    top: 30vh;
    background-color: #691818;
    color: wheat;
    flex-direction: column;
    justify-content: center;
}

#div-popup input,
textarea {
    background-color: #500c0c;
    border: none;
    color: wheat;
    border-radius: 3px;
    text-align: center;
}

#div-popup h2 {
    padding-bottom: 50px;
    color: wheat;
    font-size: 20pt;
}

#div-popup label {
    color: wheat;
    font-weight: 200;
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items-form {
    width: 200px;
    padding: 5px;
    margin: 5px;
    font-weight: lighter;
}

form button {
    background-color: #500c0c;
    color: wheat;
    border: none;
    border-radius: 3px;
    height: 50px;
    font-size: 15pt;
    font-family: 'poppins', 'sans-serif';
}

form button:hover {
    background-color: #942222;
}

form button:active {
    background-color: #500c0c;
}

header {
    background-color: #842222;
    padding: 10px;
    border-bottom: groove #500c0c 3px;

}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    position: relative;
    left: 50%;
}

footer {
    border-top: groove #440909 3px;
    background-color: #500c0c;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 30px;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
}

.sticky-container {
    position: sticky;
    top: 1%;
    justify-content: center;
    display: flex;
}